<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Viewer</title>
</head>
<body>
<h1>YouTube Viewer</h1>
<iframe
        width="560"
        height="315"
        th:src="'https://www.youtube.com/embed/' + ${videoId}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
</iframe>
<h1>Welcome to YouTube Viewer</h1>
<!--<div th:if="${name != null}">-->
    <p>Logged in as: <b th:text="${name}"></b> (<span th:text="${email}"></span>)</p>
    <a href="/subscriptions">View Subscriptions</a>
    <div class="card">
        <img th:src="${photo}" alt="User Photo">
        <h2 th:text="Username + ${name}">User Name</h2>
        <p th:text="${email}">user@example.com</p>
<!--    </div>-->
</div>

<div th:if="${name == null}">
    <a href="/oauth2/authorization/google">Log in with Google</a>
</div>
<a href="/profile">Profile </a>
</body>
</html>
